@page "/Registrar"
@attribute [StreamRendering]

<PageTitle> Registro </PageTitle>


<h1>Agregar Libro</h1>

<p>Dar detalles claro del libro</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
@code {
    private void IncrementCount(MouseEventArgs e)
    {
        throw new NotImplementedException();
    }
}
